
@{
    ViewBag.Title = "ApprovedExhibition";
    Layout = "~/Views/Shared/_ArtPieceManegerSharedLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/OurCSS.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<h1 >Pedidos Aceites *** SUGESTÃO*** trocar por</h1>
<h1> Exposições Aprovadas </h1>
    <br/><hr/>
<div class="container">
    <table class="table table-hover">
        <tr>
            <th> Nome do Evento</th><th> Start Date</th><th>End Date</th>
        </tr>
        @foreach (var item in ViewBag.EventsToShow)
        {
            <tr>
                <td>@item.Name</td><td>@item.StartDate</td><td>@item.EnDate</td>
            </tr>
        }
    </table>
    <div>
        <hr />
        <p>
            @*@Html.ActionLink(linkText: "Back to the #################3", actionName: "ShowRequestsList")*@
        </p>
    </div>
</div>

</body>
</html>

