
@{
    ViewBag.Title = "ApprovedExhibition";
    Layout = "~/Views/Shared/_ArtPieceManegerSharedLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/OurCSS.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<br/><h1 style="text-align:justify"> Exposições Aprovadas </h1><hr/>
<h4 style="text-align: center"> Eventos requisitados que já se encontram aprovados </h4><hr/>
<div class="container">
    <table class="table table-hover">
        <tr>
            <th> Nome do Evento</th><th> Start Date</th><th>End Date</th>
        </tr>
        @foreach (var item in ViewBag.EventsToShow)
        {
            <tr>
                <td>@item.Name</td><td>@item.StartDate</td><td>@item.EnDate</td>
            </tr>
        }
    </table>
</div>
<div>
    <hr class="hrStyle" >
    <p>
        @*@Html.ActionLink(linkText: "Back to the #################3", actionName: "ShowRequestsList")*@
    </p>
</div>

</body>
</html>

