@{
    ViewBag.Title = "SelectEventToAttachArtPice";
    Layout = "~/Views/Shared/_ArtPieceManegerSharedLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <br /><h1 style="text-align:justify"> Lista de exposições já aprovadas por um Space Manager </h1><hr />
    <h4 style="text-align: center"> Escolha a exposição em que pretende inserir a peça de arte escolhida</h4><hr />
    <div class="container">
        <div>
            <h3> Peça de Arte número: #@ViewBag.PieceSelected.Id</h3>
            <hr>
            <h4><b>Nome: </b> @ViewBag.PieceSelected.Name</h4>
            <h4><b>Autor: </b>@ViewBag.PieceSelected.Author</h4>
            <h4><b>Data de Criação: </b>@ViewBag.PieceSelected.Year</h4>
            <h4><b>Dimensão: </b>@ViewBag.PieceSelected.Dimension</h4>
            <h4><b>Descrição: </b>@ViewBag.PieceSelected.Description</h4>
            <hr>
        </div>
        @*<div>
            <p>
                @Html.ActionLink(linkText: "Escolher outra peça para inserir", actionName: "ListArtPieces", controllerName: "Catalog")
            </p><br />
        </div>*@
        
        <table class="table table-hover">
            <tr>
                <th> # </th>
                <th> Número de Evento: </th>
                <th> Nome: </th>
                <th> Número de peças no evento:</th>
                <th> Data de Início: </th>
                <th> Data de Fim: </th>
                <th> Descrição:</th>
            </tr>

            @foreach (var item in ViewBag.ExhibitionsAccepted)
            {
                <tr>
                    <td>
                        @Html.ActionLink(linkText: "Escolher Sala", actionName: "SelectRoomToAttachArtPiece", controllerName: "Catalog", routeValues: new { artpieceId = @ViewBag.PieceSelected.Id, eventId = @item.Id }, htmlAttributes: null)
                    </td>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.SumArtPieces</td>
                    <td>@item.StartDate</td>
                    <td>@item.EnDate</td>
                    <td>@item.Description</td>
                </tr>
            }
        </table>
    </div>
    <div>
        <hr class="hrStyle">
        <p>
            @Html.ActionLink(linkText: "Voltar ao Catálogo", actionName: "SheduleExhibition", controllerName: "ExhibitionShedule")
        </p><br />
    </div>
</body>
</html>
